.container {
  position: absolute;
  width: 100%;
  height: 107%;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.cardContainer {
  background-color: white;
  aspect-ratio: 290/277;
  height: 110%;
  border-radius: 20px;
  box-shadow: 0 0 25px 5px rgba(40, 8, 167, 0.04);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 200px; /* height of the hidden overflow area */
  background-color: #f7f9fe; /* or match the container's background */
  z-index: 0;
  box-shadow: none;
}
