.options-container {
  --primary-color: #4369ee;
  --secondary-color: #7683fe;
  --grey: #e7eaf6;
  --dark-grey: #b5bddc;
  --false-color: #ff278a;
  --true-color: #29cc60;
}

.blank-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.droppable {
  height: 2rem;
  border-radius: 20px;
  background: var(--grey);
  display: flex;
  height: 5.5vh;
  width: 5.3vw;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}
