.padded-container-2 {
  padding-left: 3.7vw;
  padding-right: 3.7vw;
  padding-bottom: 6.5vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  padding-top: 5vh;
}

.fact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 4%;
}

.padded-container-2 h1 {
  font-size: 2.1rem;
  font-weight: 700;
}

.padded-container-2 h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.fact-box {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  background-color: #7683fe;
  color: white;
  border-radius: 20px;
  padding: 2em;
  width: 52%;
  line-height: 140%;
  font-weight: 400;
  font-size: 0.95rem;
}

.fact-title {
  display: flex;
  flex-direction: row; /* Ensure title and image are side by side */
  align-items: center;
  width: 100%; /* Ensure it spans the width of the fact container */
  justify-content: flex-start; /* Align title and image to the start (left) */
  margin-bottom: 0.5em; /* Add some space below the title */
  gap: 0.5em;
}

.fact-title h2 {
  margin: 0;
}

.fact-title img {
  filter: invert(100%);
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.fact-content {
  text-align: left;
  width: 100%; /* Ensure it spans the width of the fact container */
}
