.mc-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mc-container h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.choices-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns by default */
  gap: 25px;
  width: 100%; /* Ensuring the grid takes full width */
}

.next-button {
  margin-top: 20px; /* Adding some space above the button */
  width: 100%; /* Making the button take full width of its container */
  max-width: 300px; /* Limiting the maximum width of the button */
  align-self: center; /* Centering the button */
}

.next-button .inner-button {
  text-align: center;
  width: 100%; /* Ensuring the inner content takes full width */
}

/* Responsive styles */
@media (max-width: 600px) {
  .choices-grid {
    grid-template-columns: 1fr; /* One column on small screens */
  }

  .mc-container {
    padding: 10px; /* Reducing padding for smaller screens */
  }

  .mc-container h1 {
    font-size: 1.2em;
  }

  .choice {
    padding: 15px;
  }

  .choice-label {
    font-size: 1em;
  }

  .choice-text {
    font-size: 0.9em;
  }

  .next-button {
    max-width: 100%; /* Allowing the button to take full width on small screens */
  }
}
