.wrapper {
  height: 192px;
  display: flex;
  align-items: flex-end;
}

.lessonOfTheDayContainer {
  display: flex;
  flex-direction: row;
  background-color: #f2f2fc;
  border-radius: 20px;
  height: 175px;
  aspect-ratio: 791/223;
  box-shadow: inset 0 4px 30px 0px rgba(111, 119, 151, 0.05);
}

.lessonInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lessonTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #7683fe;
  border-radius: 30px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  gap: 0.4em;
  font-weight: 500;
  color: white;
  font-size: 0.95rem;
  width: 12rem;
  margin-bottom: 1em;
}

.lessonDisplay {
  height: 100%;
  width: 270px;
  margin-right: 1em;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.6em;
}

.icon {
  font-size: 1.2rem;
  font-weight: 900;
}

.streakContainer {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  margin-bottom: 0.5em;
}

.streakIndicator {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #b5bddc;
}

.completed {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1.5px #4369ee;
  color: #4369ee;
  background: none;
}
