.container {
  background-color: white;
  box-shadow: 0 5px 30px 5px rgba(40, 8, 167, 0.03);
  border-radius: 20px;
  margin-top: 1vh;
  padding: 1em;
  padding-left: 1.9em;
}

.container h1 {
  font-size: 1.1rem;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekContainer {
  margin-top: -35px;
  padding-left: 2.3vw;
  display: flex;
  justify-content: space-between;
  padding-right: 3vw;
}

.weekLabel {
  font-size: 0.85rem;
  opacity: 0.5;
}

.statDisplayContainer {
  display: flex;
  gap: 2em;
  margin-bottom: -20px;
  margin-top: 1.5vh;
}
