.finishedLessonContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #4369ee , #7683fe);
  padding: 20px;
  overflow: hidden;
}

.celebrationLogoContainer {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.celebrationLogoWrapper {
  background: #fff;
  padding: 21px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.celebrationLogo {
  width: 100px;
  height: 100px;
}

.messageContainer {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.congratsMessage {
  font-size: 28px;
  color: #4caf50;
  margin-bottom: 20px;
}

.detailsBox {
  background: #e2f0fd;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailsMessage {
  font-size: 20px;
  color: #424242;
}

.returnButton {
  background: #4369ee;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.returnButton:hover {
  background: #7683fe;
}
