.container {
  padding-left: 0vw;
  padding-right: 3vw;
  padding-top: 2.6vh;
  padding-bottom: 2.6vh;
  margin: 0;
  align-items: left;
  display: flex;
  flex-direction: column;

  --primary-color: #4369ee;
  --secondary-color: #7683fe;
  --grey: #e7eaf6;
  --dark-grey: #b5bddc;
  --false-color: #ff278a;
  --true-color: #29cc60;
}

.main-container {
  flex: 1;
  height: 100%;
}

.padded-container {
  padding-left: 3.7vw;
  padding-right: 3.7vw;
  padding-top: 6.5vh;
  padding-bottom: 6.5vh;
}

/*Header Section*/
.head {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*Left Header*/
.left-head {
  width: 25%;
}

.left-container {
  padding-left: 2vw;
}

.exit-link {
  text-decoration: none;
  gap: 10px;
}

.exit-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 30px;
  padding-left: 1.3vw;
  padding-right: 1.7vw;
}

.exit-button span {
  font-size: 1rem;
  color: var(--primary-color);
}

.exit-button:hover {
  background-color: rgba(231, 234, 246, 0.7);
}

/*Middle Header*/
.middle-head {
  width: 50%;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.progress-stats {
  display: flex;
  flex-direction: row;
}

.stat {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.stat img {
  width: 1.2rem;
  height: 1.2rem;
}

.stat span {
  font-weight: 600;
}

.page-count {
  color: var(--primary-color);
  font-weight: 700;
  margin-left: 4rem;
  margin-right: 4rem;
}

.progress-bar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.progress-bar-container button {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-icon {
  border-radius: 50%;
  cursor: pointer;
}

.active-icon:hover {
  background: rgba(231, 234, 246, 0.7);
}

.inactive-icon {
  color: var(--grey);
}

.progress-bar {
  height: 10px;
  width: 74%;
  background-color: var(--grey);
  border-radius: 30px;
  margin-left: 17px;
  margin-right: 17px;
}

.progress-tracker {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 30px;
}

/*Right Header*/
.right-head {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: end;
  padding-top: 1vh;
}

.edit-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 1rem;
  gap: 10px;
  cursor: pointer;
}

.edit-button:hover {
  color: var(--secondary-color);
}

/*Body Section*/
.body {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*Left Body*/
.left-body {
  width: 25%;
}

.chapters {
  padding-left: 1.5vw;
  padding-top: 2.5vh;
  font-weight: 600;
}

.chapters h1 {
  font-size: 1.05rem;
  margin-bottom: 23px;
}

.list-container {
  display: flex;
  flex-direction: row;
  border-left: solid 2px var(--grey);
}

.chapters ul {
  list-style: none;
  margin-left: -1rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chapters ul li {
  opacity: 0.5;
  cursor: pointer;
}

.chapters ul li:hover {
  opacity: 1;
}

.chapters ul li.active {
  opacity: 1;
  color: var(--primary-color);
  font-weight: 700;
}

/*Middle Body*/
.middle-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5vh;
  gap: 3.5vh;
}

.main-display {
  border-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 70vh;
  width: 95%;
  border: 2px solid var(--grey);
}

.next-button {
  background-color: var(--secondary-color);
  border: none;
  display: flex;
  height: 6.9vh;
  border-radius: 20px;
  padding: 0;
  cursor: pointer;
}

.next-button:active .inner-button {
  transform: translateY(7px);
}

.inner-button {
  transition: 0.08s ease-in-out;
  background-color: var(--primary-color);
  height: 6.9vh;
  width: 100%;
  border-radius: 20px;
  padding-right: 2.9em;
  padding-left: 2.9em;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -7px;
}

/*Right Body*/
.right-body {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: end;
  padding-top: 3.5vh;
}

.ai-container {
  width: 95%;
  border-radius: 20px;
}

.header {
  background-color: var(--secondary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-weight: 400;
  font-size: 1.05rem;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.chat-container {
  border: 2px solid var(--grey);
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
}

.chat-button-container {
  flex: 1;
  padding: 10px;
  display: flex;
}

.chat-container button {
  border: 2px solid var(--grey);
  background-color: white;
  height: 3em;
  border-radius: 20px;
  width: 100%;
  font-weight: 500;
  font-size: 0.87rem;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.08s ease-in-out;
}

.chat-container button:hover {
  box-shadow: 0 5px var(--grey);
  transform: translateY(-5px);
}

.chat-container button:active {
  box-shadow: none;
  transform: translateY(0px);
}

.chat-container button span {
  opacity: 0.5;
}

.chat-bottom-border {
  height: 36.2vh;
  background-color: var(--grey);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 7.2px;
}
