.container {
  width: 100%;
  margin-left: 1.8vw;
  margin-right: 1.8vw;
  margin-top: 1.3vh;
  margin-bottom: 1.3vh;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1.8vw;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}

.header h1 {
  font-size: 1.59rem;
  font-weight: 600;
}

.profileContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.5vh;
}
