:root {
  background-color: #ffffff;
  color: #000000;

  padding: 0;
  margin: 0;
  align-items: left;
  position: flex;
  font-family: "Fira Sans", sans-serif;
}

a {
  font-family: "Fira Sans", sans-serif;
}

button {
  font-family: "Fira Sans", sans-serif;
}
