.recentLessonsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3.5vh;
}

.recentLessonsLabel {
  font-weight: 400;
  margin-bottom: 1.5em;
}

.lessonCards {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3vw;
}
