@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.navbarContainer {
  height: 100%;
  width: 14vw;
  background-color: #fff;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px 3px rgba(40, 8, 167, 0.05);
  position: fixed;
}

.container {
  padding-left: 2.5vw;
  margin-top: 1.5vw;
}

.logo {
  font-weight: 700;
  color: #000;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
}

.icon {
  font-size: 1.45rem;
  color: black;
  cursor: pointer;
}

.active .icon {
  color: #4369ee;
}

.icon:hover {
  opacity: 1;
}

.navButton {
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 1.3vw;
  font-weight: 400;
  cursor: pointer;
}

.active {
  opacity: 1;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  gap: 6.5vh;
  margin-top: 11vh;
}

.logoutContainer {
  margin-bottom: 6vh;
  margin-left: 2.5vw;
  background: #7683fe;
  color: white;
  margin-right: 2.5vw;
  padding: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 500;
}

.logoutContainer .icon {
  color: white;
  margin-right: 10%;
}
