@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.navbarContainer {
  height: 155vh;
  width: 75px;
  background-color: #7683fe;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.75vw;
}

.logo {
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
  margin-top: 4vh;
  font-family: "Raleway", sans-serif;
}

.icon {
  font-size: 1.45rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.active {
  opacity: 1;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  gap: 6vh;
  margin-top: 10vh;
}

.logoutContainer {
  margin-bottom: 6vh;
}
