.container {
  background-color: white;
  border-radius: 15px;
  padding: 1.5em;
  width: 180px;
  aspect-ratio: 290/277;
  text-decoration: none;
  box-shadow: 0 10px 30px 5px rgba(40, 8, 167, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  position: relative;
}

.firstLink .container {
  background: linear-gradient(to bottom, #f96284 30%, #ee5275 100%);
  box-shadow: 0 19px 30px 7px rgba(240, 83, 118, 0.2);
}

.bottomContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 500;
  font-size: 1.15rem;
  margin-bottom: 0.25em;
}

.totalQuestions {
  font-size: 0.8rem;
  margin-bottom: 0.45em;
}

.link {
  text-decoration: none;
  color: black;
}

.firstLink {
  text-decoration: none;
  color: white;
}

.progressContainer {
  background-color: #e7eaf6;
  height: 5px;
  border-radius: 30px;
  width: 90%;
}

.firstLink .progressContainer {
  background-color: #f97e99;
}

.progressBarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0.4em;
}

.progressIndicator {
  background-color: #7683fe;
  height: 100%;
  border-radius: 30px;
}

.firstLink .progressIndicator {
  background-color: #fff;
}

.percentage {
  font-size: 0.8rem;
  font-weight: 500;
}

.continueToLearnButton {
  border: none;
  background-color: #e7eaf6;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 30px;
  margin-top: 0.8em;
  cursor: pointer;
}

.firstLink .continueToLearnButton {
  background-color: #f97e99;
  color: white;
}

.heart {
  color: #ff278a;
  font-size: 0.95rem;
  margin-right: 0.3em;
}

.dot {
  color: #ff278a;
  font-size: 1.2rem;
  margin-right: -0.1em;
}

.livesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.firstLink .button {
  color: white;
}

.dropdown {
  position: absolute;
  right: 5px;
  top: 20px;
  background: white;
  color: #ff278a;
  padding: 8px;
  border-radius: 3px;
  font-size: 0.85rem;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 5px 30px 2.5px rgba(40, 8, 167, 0.15);
  cursor: pointer;
}
